
:root {
    --bg-color: #195719;
    --color-text:#1cee00;
    --box-shadow: 5px 5px 5px 0 rgb(2, 2, 2),
                  -1px -1px 4px 0 rgb(0, 0, 0);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Monserrat, sans-serif;
    background: #088cc0;

}
 

.container {
    width: 30%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0),
                -1px -1px 3px 0 rgb(0, 0, 0);
    border: 1rem;
    text-align: center;
    color: var(--color-text);
    padding: 1rem;
    background-color: var(--bg-color);
}

.color-hex,
.btns * {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border: .5rem;
    padding: .5rem 1rem;
}

.color-hex {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.btns * {
     
    color: var(--color-text);
    cursor: pointer;
    margin: 0 5px;
}

@media screen and (max-width:750px) {
    .container {
        width: 90%;
    }
}